
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ubuntu&display=swap');

html,
body {
  min-width: 290px;
  color: #6c9a8b;
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

#navbar {
  background-color:#fbf7f4;
  position: fixed;
  min-width: 250px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
}

header {
  color:#723d46;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
}

h1,
#main-doc header {
  text-align: left;
  margin: 0px;
  color: #1a535c;
}

#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #e26d5c;
  list-style: none;
  position: relative;
  width: 100%;
}

a{
  color: #e8998d;
  text-decoration: none;
  cursor: pointer;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #e8998d;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 20px;
}

code {
  color: black;
  text-align: left;
  position: relative;
  background-color: #e8e4db;
  padding: 3px;
  margin: 15px 3px;
  border-radius: 3px;
}
pre span {
  color: #880d1e;
}
pre{
  padding: 10px;
  background-color: #e8e4db;
}

@media screen and (max-width: 700px) {
  #navbar ul {
    border: 1px solid #723d4649;
    height: 207px;
  }
#navbar li {
   border-bottom: 1px solid #723d4649;
}
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 285px;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 300px;
  }
}

@media  screen and (max-width: 400px) {
  #main-doc {
    margin-left: -15px;
  }
}
